      .banner {
          background: url(/banner-logo.jpg) center no-repeat;
          min-height: 900px;
          position: relative;
          background-color: #fef7f1;
      }
      .banner .overlay {
          background: rgba(0,0,0,0.25);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: -1;
      }
      .title-section{
        color: #c19417;
        font-size: 14px!important;
        text-align: center;
      }
      .parr-section{
        color: #fff;
        font-size: 16px!important;
        text-align: left;
      }
      .parr-section-col{
        font-size: 16px!important;
        text-align: left;
      }
      .parr-section-card{
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.3s ease;
        cursor: pointer;
      }
      .parr-section-card:hover{
        color: #c19417;
      }
      .price-section{
        color: #000!important;
        text-align: left;
        font-size: 13px!important;
        font-weight: 600;
      }
      .description-section{
        color: #000;
        font-size: 32px!important;
        text-align: center;
        margin-bottom: 20px;
      }
      .description-sectionW{
        color: #fff;
        font-size: 54px!important;
        text-align: left;
        margin-bottom: 20px;
      }
      .link-section{
        color: #000;
        font-size: 13px!important;
        font-weight: 600;
        text-transform: uppercase;
      }
      .link-section:hover{
        color: #000;
      }
      .first-section{
        max-width: 700px;
        padding: 100px 0;
        margin-left: auto;
        margin-right: auto;
      }
      .second-section{
        padding: 100px 0;
        margin-left: auto;
        margin-right: auto;
      }
      .background-section{
        background-image: url(/back-sect2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 350px 0;
        background-attachment: fixed;
      }
      .btn-sectionBK{
        display: flex;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        border: 2px solid #fff;
        padding: 20px 10px;
        margin-top: 50px;
        transition: 0.5s all ease;
        width: 260px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
      .btn-sectionBK:hover{
        color: #fff;
      }
      .btn-section{
        display: flex;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        padding: 15px 5px;
        margin-top: 40px;
        transition: 0.5s all ease;
        width: 160px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #000;
      }
      .btn-section:hover{
        background-color: #c19417;
        color: #fff;
      }
      .col-section{
        text-align: left !important;
        color: #000 !important;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
      }
      .title-detail-product{
        font-family: "Jost", sans-serif;
        text-align: left;
        text-transform: uppercase;
        font-size: 30px;
        color: #000;
      }
      .col-detail-description{
        padding-left: 80px;
        text-align: left;
      }
      .price-detail-product{
        font-size: 23px;
        font-weight: 500;
        font-family: "Jost", sans-serif;
        color: #000;
      }
      .banner-shop{
        background-image: url(/banner-tienda.jpg);
        padding: 90px 0px;
        margin-top: 75px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
      }
      .title-shop{
        font-family: "Delius Swash Caps", cursive;
        font-size: 38px;
      }
      .active>.page-link, .page-link.active{
        border: none;
        background-color: transparent;
        color: #c19417 !important;
      }
      .page-link:hover {
        background-color: transparent;
      }
      .page-link:focus {
        box-shadow: 0 0 0 0rem transparent;
      }
      .boton-login{
        display: block;
        width: 100%;
        background-color: #000;
        border-radius: 0;
        border-color: transparent;
        font-family: "Jost", sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        padding: 12px;
        margin-top: 34px;
        transition: all .3s ease;
      }
      .boton-login:hover{
          background-color: #c19417;
          border-color: #c19417;
      }
      .boton-login:active{
        background-color: #c19417!important;
        border-color: #c19417!important;
      }
      .boton-register{
          display: block;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 0;
          border-color: transparent;
          font-family: "Jost", sans-serif;
          font-size: 13px;
          text-transform: uppercase;
          padding: 12px;
          margin-top: 12px;
          transition: all .3s ease;
      }
      .boton-register:hover{
        background-color: #c19417;
        border-color: #c19417;
      }
      .boton-register:active{
          background-color: #c19417!important;
          border-color: #c19417!important;
      }
      .frm-personalized{
          border-radius: 0;
          padding: 12px 14px;
          margin-bottom: 12px;
      }
      .singin-block{
        position: relative;
      }
      .singin-title{
          text-align: left;
          font-size: 22px;
          position: absolute;
          margin: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 0 40px 40px;
          font-family: "Delius Swash Caps", cursive;
      }
      .register-block{
        position: relative;
      }
      .register-title{
        text-align: left;
        font-size: 22px;
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 40px 40px;
        font-family: "Delius Swash Caps", cursive;
      }
      .line-divider-detail{
          width: 100%;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid var(--border-color, #e4e4e4);
          line-height: 100%;
      }
      .parr-detail-product{
        font-family: "Jost", sans-serif;
        font-size: 14px;
      }
      .btn-icons{
        margin: 5px 0;
        text-align: center;
        color: #000;
        font-weight: 400;
        align-items: center;
        border: 0;
        background: 0 0;
        padding: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #e4e4e4;
        transition: all .3s ease;
        cursor: pointer;
      }
      .safe-checkout{
          margin-top: 30px;
          padding: 40px 25px 25px;
          text-align: center;
          background: #f3f3f3;
      }
      .title-safe-checkout{
        letter-spacing: 1px;
        font-family: "Jost", sans-serif;
        font-size: 16px;
      }

