<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Editar Producto</title>
</head>
<body>
<div layout:fragment="contenido_dinamico">
    <div class="banner-nuevo">
        <div class="container">
            <h1 class="title-nuevo">Editar Producto</h1>
            <nav style="--bs-breadcrumb-divider: '>';display: flex;justify-content: center; color: #fff;"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" style="color: #fff;">Home</a></li>
                    <li class="breadcrumb-item"><a href="/admin/productos" style="color: #fff;">Administración</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color: #fff;">Editar</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container py-4 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <h1 class="short-font pb-3">Actualizar Producto</h1>
                <form th:action="@{''}" th:object="${producto}" method="post" enctype="multipart/form-data">
                    <div class="mb-2">
                        <input type="text" id="nombre" name="nombre"
                               th:field="*{nombre}" class="form-control frm-personalized" th:errorClass="is-invalid"
                               placeholder="Título">
                        <div th:errors="*{nombre}" th:if="${#fields.hasErrors('nombre')}" class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-2">
                        <textarea name="descripcion" id="descripcion" rows="3"
                                  th:field="*{descripcion}" class="form-control frm-personalized"
                                  th:errorClass="is-invalid" placeholder="Descripción"></textarea>
                        <div th:errors="*{descripcion}" th:if="${#fields.hasErrors('descripcion')}"
                             class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-2">
                        <textarea name="complemento" id="complemento" rows="2"
                                  th:field="*{complemento}" class="form-control frm-personalized"
                                  th:errorClass="is-invalid" placeholder="Complementos"></textarea>
                        <div th:errors="*{complemento}" th:if="${#fields.hasErrors('complemento')}"
                             class="invalid-feedback">
                        </div>
                    </div>
                    <div class="mb-2">
                        <input type="number" id="precio" name="precio" step="0.01"
                               th:field="*{precio}" class="form-control frm-personalized" th:errorClass="is-invalid"
                               placeholder="Precio">
                        <div th:errors="*{precio}" th:if="${#fields.hasErrors('precio')}" class="invalid-feedback">
                        </div>
                    </div>

                    <div class="mb-2">
                        <label>Imagen</label>
                        <input type="file" id="imagen" name="imagen" accept="image/*"
                               th:field="*{imagen}" class="form-control frm-personalized" th:errorClass="is-invalid">
                        <div th:errors="*{imagen}" th:if="${#fields.hasErrors('imagen')}" class="invalid-feedback">
                        </div>
                    </div>

                    <div class="text-end mt-3">
                        <button class="btn btn-primary boton-login">Guardar</button>
                        <a href="/admin/productos" class="btn btn-primary boton-register">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>