<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Administrar Entradas de Inventario</title>
</head>
<body>

<div class="container mt-5" layout:fragment="contenido_dinamico">
    <h3>Gestión de Entradas de Inventario</h3>

    <div class="text-end">
        <a href="/admin/entradasInventario/nueva" class="btn btn-primary">Nueva Entrada</a>
    </div>

    <form action="" class="my-3">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="input-group">
                    <input type="search" name="productoNombre" class="form-control"
                           placeholder="Buscar entrada por nombre de producto" th:value="${param.productoNombre}">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>PRODUCTO</th>
            <th>CANTIDAD</th>
            <th>FECHA DE CREACIÓN</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entrada : ${entradas}" th:object="${entrada}">
            <td>
                <div th:text="*{producto.nombre}" class="fw-bold"></div>
                <p class="small" th:text="*{producto.descripcion}"></p>
            </td>
            <td>
                <div th:text="*{cantidad}"></div>
            </td>
            <td>
                [[*{#temporals.format(fechaCreacion, 'dd/MM/yyyy hh:mm a')}]]
            </td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a th:href="@{/admin/entradasInventario/editar/{x}(x=*{id})}" class="btn btn-primary"
                       title="Editar">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="#" onclick="eliminarEntrada(this)" class="btn btn-danger" title="Eliminar">
                        <i class="fa fa-trash"></i>
                    </a>
                    <form th:action="@{/admin/entradasInventario/eliminar/{id}(id=*{id})}" method="post"
                          class="d-none"></form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <nav>
            <div sd:pagination-summary="">info</div>
            <ul class="pagination mt-3" sd:pagination="full">
            </ul>
        </nav>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        function eliminarEntrada(elemento) {
            var ok = confirm('¿Estás seguro de eliminar esta entrada?');
            if (ok) {
                elemento.nextElementSibling.submit();
            }
        }
    </script>
</div>

</body>
</html>
