<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
</head>
<body>
<div layout:fragment="contenido_dinamico">
    <div class="banner-shop">
        <div class="container">
            <h1 class="title-shop">Administración</h1>
            <nav style="--bs-breadcrumb-divider: '>'; display: flex; justify-content: center;" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" style="color: #000;">Home</a></li>
                    <li class="breadcrumb-item"><a href="/admin/clientes" style="color: #000;">Clientes</a></li>
                    <li class="breadcrumb-item active" aria-current="page" style="color: #000;">Nuevo Cliente</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container mt-5 my-5">
        <h3 class="short-font">Registrar Nuevo Cliente</h3>
        <form th:action="@{/admin/clientes/nuevo}" th:object="${cliente}" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="nombre" class="form-label short-font">Nombre</label>
                        <input type="text" id="nombre" th:field="*{nombre}" class="form-control frm-personalized"
                               placeholder="Nombre">
                        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="apellidos" class="form-label short-font">Apellidos</label>
                        <input type="text" id="apellidos" th:field="*{apellidos}" class="form-control frm-personalized"
                               placeholder="Apellidos">
                        <div th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"
                             class="text-danger"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label short-font">Email</label>
                        <input type="email" id="email" th:field="*{email}" class="form-control frm-personalized"
                               placeholder="Correo Electrónico">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="telefono" class="form-label short-font">Teléfono</label>
                        <input type="text" id="telefono" th:field="*{telefono}" class="form-control frm-personalized"
                               placeholder="Teléfono">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="direccion" class="form-label short-font">Dirección</label>
                <input type="text" id="direccion" th:field="*{direccion}" class="form-control frm-personalized"
                       placeholder="Dirección">
            </div>

            <div class="text-end">
                <button class="btn-section short-font">Guardar</button>
                <a href="/admin/clientes" class="btn-section btn-cancel short-font">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
