/*
Custom Css
*/
.custom-img-size {
  width: 380px;
  height: 380px;
  object-fit: cover; /* Para asegurar que la imagen se ajuste sin deformarse */
}
.product-name {
    color: #000; /* Color negro */
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: none;
}
.product-name:hover {
    color: #c19417; /* Color dorado al pasar el mouse */
}