<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Registro de nuevo usuario</title>

    <div layout:fragment="styles">
        <link th:href="@{/css/estilos.css}" rel="stylesheet">
    </div>
</head>
<body style="background-color: #fef7f1;">

<div layout:fragment="contenido_dinamico">
    <div class="container espaciado-paginas">
        <div class="container espaciado-paginas">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 shadow" style="width: 500px; padding-left: 0px;padding-right: 0px;">
                    <div class="register-block">
                        <img src="/sign-in.jpg" alt="Sign In">
                        <h3 class="register-title">Registro de usuario</h3>
                    </div>
                    <div class="bg-white" style="padding: 40px;">
                        <form th:action="@{''}" method="post" th:object="${usuario}" class="mt-3">
                            <div class="row">
                                <div class="col mb-2">
                                    <input type="text" id="nombre" name="nombre"
                                           placeholder="Nombre"
                                           th:field="*{nombre}" class="form-control frm-personalized" th:errorClass="is-invalid">
                                    <div th:errors="*{nombre}" th:if="${#fields.hasErrors('nombre')}"
                                         class="invalid-feedback"></div>
                                </div>
                                <div class="col mb-2">
                                    <input type="text" id="apellidos" name="apellidos"
                                           placeholder="Apellidos"
                                           th:field="*{apellidos}" class="form-control frm-personalized" th:errorClass="is-invalid">
                                    <div th:errors="*{apellidos}" th:if="${#fields.hasErrors('apellidos')}"
                                         class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <input type="email" id="email" name="email"
                                       placeholder="Email"
                                       th:field="*{email}" class="form-control frm-personalized" th:errorClass="is-invalid">
                                <div th:errors="*{email}" th:if="${#fields.hasErrors('email')}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="mb-2">
                                <input type="password" id="password1" name="password1"
                                       placeholder="Contraseña"
                                       th:field="*{password1}" class="form-control frm-personalized" th:errorClass="is-invalid">
                                <div th:errors="*{password1}" th:if="${#fields.hasErrors('password1')}"
                                     class="invalid-feedback"></div>
                            </div>
                            <div class="mb-2">
                                <input type="password" id="password2" name="password2"
                                       placeholder="Repite contraseña"
                                       th:field="*{password2}" class="form-control frm-personalized" th:errorClass="is-invalid">
                                <div th:errors="*{password2}" th:if="${#fields.hasErrors('password2')}"
                                     class="invalid-feedback"></div>
                            </div>

                            <div class="text-end mt-3">
                                <button class="btn btn-primary boton-login">Regístrame</button>
                                <a href="/login" class="btn btn-primary boton-register">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>